@model Ottav.Models.Study.DropDownFields

@{
    ViewBag.Title = "Drop Down List Examples";
    ViewBag.TestVarSelOption = "Valor em ViewBag";
}

<html>
<body>
    <div class="mainContainer">
        <div class="box">
            <h1 class="page-header" style="margin: 70px 0 50px 0">@ViewBag.Title</h1>

            <h3>- By using &lt;select&gt; HTML Tags</h3>

            <form action="/Study/DropDownList" method="post">
                <select class="btn" id="optionSelect" name="optionSelect" required autofocus>
                    <option value="0">...</option>
                    <option value="http://badjoras.com">Option 1</option>
                    <option value="2" selected="selected">Option 2</option>
                    <option value=@ViewBag.TestVarSelOption>Option 3</option>
                    <option value="4">Option 4</option>
                </select>

                <input class="btn" type="submit" value="Enviar" style="margin-left:30px; width:200px" />
            </form>

            @if (ViewBag.optSelected != null)
            {
                <p style="color:red; font-weight:bolder; margin-top:20px;">Valor escolhido: @ViewBag.optSelected</p>
            }

            <br /><hr />
            <h3>- By using DropDownListFor()</h3>

            @using (Html.BeginForm("DropDownList", "Study", FormMethod.Post))
            {
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.selectedField, Model.DropDownListOptions, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <input class="btn" type="submit" value="Enviar" style="margin-left:30px; width:200px" />
                </div>
            }

            @if (Model.selectedField != null)
            {
                <p style="color:red; font-weight:bolder; margin-top:20px;">Valor escolhido: @Model.selectedField</p>
            }

            <hr />
            <h3>- By using DropDownList()</h3>

            @using (Html.BeginForm("DropDownList", "Study", FormMethod.Post))
            {
                // MoviesList has a double meaning:
                // - Is the key to find ViewBag.Movie IEnumerable<SelectListItem>
                // - Identifies the value returned by the form

                <div class="col-md-4">
                    @Html.DropDownList("MoviesList", null, new { @class = "btn" })
                </div>
                <div class="col-md-3">
                    <input class="btn" type="submit" value="Enviar" style="margin-left:30px; width:200px" />
                </div>
            }

            @if (Model.selectedField != null)
            {
                <p style="color:red; font-weight:bolder; margin-top:20px;">Valor escolhido: @ViewBag.opt2Selected</p>
            }
        </div>
    </div>
</body>
</html>
